.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.not-found-title {
  margin-bottom: 20px;
  text-align: center;
}

.not-found-img {
  max-width: 100%;
  height: auto;
}